@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');
        
        body {
            font-family: 'Noto Serif SC', 'Noto Serif', serif;
        }
        
        .hero-height {
            height: 3cm;
        }
        
        .scroll-smooth {
            scroll-behavior: smooth;
        }